<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/styles/stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="/js/demo.js"></script>
</head>
<body>
	<div class="top-panel">
		<div class="top-left-panel">
			<button class="button">Register</button>
			<button class="button">Login</button>
		</div>
		<div class="top-center-panel">
			<h1>Automation Test Suite</h1>
		</div>
		<div></div>
	</div>
	<div class="left-panel">

	</div>
	<div class="right-panel">
	</div>
	<div class="center-panel">
		<div th:if="${authenticatedUser == null}">
			<h1>Login</h1>
			<form method="post" th:action="@{/api/login}">
				<label>Email:</label>
				<input type="email" name="email" required><br>
				<label>Password:</label>
				<input type="password" name="password" required><br>
				<input type="submit" value="Login">
			</form>
		</div>
		<div th:if="${authenticatedUser != null}">
			<h1>Welcome, <span th:text="${authenticatedUser.email}"></span>!</h1>
			<a th:href="@{/homePage}">Logout</a>
		</div>

	</div>
	<div class="lower-panel">
		<h7>Copy rights are reserved</h7>
	</div>
</body>
</html>
