<!DOCTYPE html>
<html xmlns:th="http://www.autotmationchamp.org">
<head>
<title>Login page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/styles/stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="/js/demo.js"></script>
</head>
<body>
	<div class="top-panel">
		<div class="top-left-panel">
			<button class="button">Register</button>
			<button class="button">Login</button>
		</div>
		<div class="top-center-panel">
			<h1>Automation Test Suite</h1>
		</div>
		<div></div>
	</div>
	<div class="left-panel">

	</div>
	<div class="right-panel">
	</div>
	<div class="center-panel">
		<form method="post" action="/login">
			
			<input type="text" name="data" />
			<button type="submit">Send</button>
		</form>

	</div>
	<div class="lower-panel">
		<h7>Copy rights are reserved</h7>
	</div>
</body>
</html>
